{% extends "charts/base.html" %}

{% load static %}

{% block title %}Sensor Data Chart{% endblock %}

{% block head %}
    <!--javascript-->
    <!-- jQuery -->
    <script src="{% static 'bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bootstrap/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <!-- 「SB admin2」のチャート関係 -->
    <!-- Flot Charts JavaScript -->
    <!---->
    <script src="{% static 'bootstrap/vendor/flot/excanvas.min.js' %}"></script>
    <!--  チャート描画  -->
    <script src="{% static 'bootstrap/vendor/flot/jquery.flot.js' %}"></script>
    <!--  チャートをブラウザの大きさに合わせてリサイズ jquery.flot.js　の後に呼び出すこと -->
    <script src="{% static 'bootstrap/vendor/flot/jquery.flot.resize.js' %}"></script>
    <!---->
    <script src="{% static 'bootstrap/vendor/flot-tooltip/jquery.flot.tooltip.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'bootstrap/dist/js/sb-admin-2.js' %}"></script>

    <!--high chart-->
    <!--<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js';></script>-->
    <script src="http://code.highcharts.com/highcharts.js";></script>

    <!-- ajax csrf 対策 -->
    <script src="{% static 'api/set_csrf_ajax_on_django.js' %}"></script>

    {#  datepicker用 #}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" >
    <script>

        // datepickerに関する記述
        //今日の日付データ
        var date_now=new Date();
        var year = date_now.getFullYear();
        var month = date_now.getMonth()+1;
        var day = date_now.getDate();
        var date_now_str = year + "/" + month + "/" +day

        $(function(){
            // $('#datepicker').datepicker();
            // datapickerのイベントを受けて特定の関数を実行
            $('#datepicker').datepicker({
                onSelect: function(dateText){
                    //alert(dateText);
                    drawDesignateDate($('#datepicker').val());
                },
            });
            // 初期値に今日の日付を設定
            //$("#datepicker").datepicker("setDate", date_now_str);
            $("#datepicker").datepicker("setDate", new Date());
            // ボタンを配置
            $("#datepicker").datepicker("option", "showOn", 'button');

        });


    </script>




{% endblock %}

{% block body %}
<div id="wrapper">
    <div id="page-wrapper">
        <!-- 項目表示部分 -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> Charts For Each Item </h1>
            </div>
            <div>
                <p>
                    <input type="text" id="datepicker">
                </p>
            </div>
        </div>
{#        <!-- データテーブル表示用パネル -->#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <div class="panel panel-default">#}
{#                    <!-- パネルのヘッダー -->#}
{#                    <div class="panel-heading">#}
{#                        Line Chart Example#}
{#                    </div>#}
{#                    <!-- /.panel-heading -->#}
{#                    <!-- パネルの表示内容（テーブル） -->#}
{#                    <div class="panel-body">#}
{#                        <div class="flot-chart">#}
{#                            <div class="flot-chart-content" id="flot-line-chart"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- /.panel-body -->#}
{#                </div>#}
{#                <!-- /.panel -->#}
{#            </div>#}
{#        </div>#}



        <!-- チャート表示用パネルを作っておく -->
        {% for i in template_iteration %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <!-- パネルのヘッダー -->
                        <div class="panel-heading">
                            chart-{{ forloop.counter }}
                        </div>
                        <!-- /.panel-heading -->
                        <!-- パネルの表示内容（テーブル） -->
                        <div class="panel-body">
{#                            <div>#}
{#                                <input type="text" id="datepicker">#}
{#                            </div>#}
                            <div>
                                <!--   ここにhighChartが表示される-->
                                <div id='container-{{ forloop.counter }}'></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        {% endfor %}


    </div>
</div>




<script type="text/javascript">

    function drawDesignateDate(designate_date){
        // HighChartに渡すための描画設定情報を先に生成しておく
        // 温度グラフ描画の設定
        var options_temp = {
            // チャートの設定
            chart :{
                renderTo : "container-1",// 出力先を指定
                //type : "column",// チャートの種類
             },

            // HighChartホームページへのリンク先の表示を消す
            credits: {
                enabled: false
            },

            // タイトルを指定
            title : {text: "温度データ"},

            // x軸のラベルを指定
            xAxis : {
                type: 'datetime',// x軸を時間軸に設定
                title: {text: "時間"},
            },

            // y軸のラベルを指定
            yAxis : {
                title: {text: "温度"},
            },
        }
        // 湿度グラフ描画の設定
        var options_humid = {
            // チャートの設定
            chart :{
                renderTo : "container-2",// 出力先を指定
                //type : "column",// チャートの種類
            },

            // HighChartホームページへのリンク先の表示を消す
            credits: {
                enabled: false
            },

            // タイトルを指定
            title : {text: "湿度データ"},

            // x軸のラベルを指定
            xAxis : {
                type: 'datetime',// x軸を時間軸に設定
                title: {text: "時間"},
            },

            // y軸のラベルを指定
            yAxis : {
                title: {text: "湿度"},
            },
        }
        var options_atmo = {
            // チャートの設定
            chart :{
                renderTo : "container-3",// 出力先を指定
                //type : "column",// チャートの種類
            },

            // HighChartホームページへのリンク先の表示を消す
            credits: {
                enabled: false
            },

            // タイトルを指定
            title : {text: "気圧データ"},

            // x軸のラベルを指定
            xAxis : {
                type: 'datetime',// x軸を時間軸に設定
                title: {text: "時間"},
            },

            // y軸のラベルを指定
            yAxis : {
                title: {text: "気圧"},
            },
        }


        // この後、options['series']に実際のデータを格納すれば、グラフ描画のソースとして利用できる
        // 今回はajaxのPOSTを利用して、DjangoのREST_APIからデータを得ることにする。
        // Djangoのでajaxからpostする場合、通常の方法ではCSRFTokenが得られず403エラーとなる。
        // これを回避するために、head部にCSRFをajaxにsetするための「$.ajaxSetup」を記述している
        // ちなみにGETであればcsrfなしでもajaxで処理できる

        // この後実行するajax(POST)時のエラー処理内容を事前に書いておく
        var handleError = function (error_data) {
            console.log("error");
            console.log(error_data);
        }

        // この後実行するajax(POST)時の処理内容を事前に書いておく
        var handleSuccess = function(data){
            var temps = [];
            var humids = [];
            var atmos = [];

            //console.log(data);
            // センサーのモデル名毎にデータをまとめたいので
            // keyからモデル名（各センサーに与えられた名前）を得ている
            var model_keys= Object.keys(data);
            //console.log(model_keys);

            // この辺はhighchartへのデータの渡し方を参すること
            // options['series'}に格納していけばよいと思う
            options_temp['series'] = [];
            options_humid['series'] = [];
            options_atmo['series'] = [];
            for(var i = 0; i < model_keys.length; i++){
                temps = data[model_keys[i]].temps;
                humids = data[model_keys[i]].humids;
                atmos = data[model_keys[i]].atmos;

                var series_temp ={
                    name: model_keys[i],
                    data: temps
                }
                var series_humid ={
                    name: model_keys[i],
                    data: humids
                }
                var series_atmo ={
                    name: model_keys[i],
                    data: atmos
                }
                options_temp['series'].push(series_temp);
                options_humid['series'].push(series_humid);
                options_atmo['series'].push(series_atmo);
            }

            //チャートの設定や表示データが格納された入れ物を渡してチャートを作る
            new Highcharts.Chart(options_temp);
            new Highcharts.Chart(options_humid);
            new Highcharts.Chart(options_atmo);

        }

        // ajaxによるPOST処理
        //var endpoint = '/api/chart/'
        var endpoint = '/api/chart/' + designate_date;

        $.ajax({
            method: "GET",
            url: endpoint,
            dataType: 'json',
            contentType: 'application/json',
{#            data: JSON.stringify(#}
{#                    // POSTする内容#}
{#                    {designatedate: designate_date}#}
{#            ),#}
            success: handleSuccess,
            error: handleError
        });

    }

    //jQuery:HTML=DOMの読み込みが終わったらfunction()の中の処理(=なにかしらの処理)を実行するという意味
    // $(function(){…}) と同じ意味
    $(function(){
        drawDesignateDate($('#datepicker').val());
    })


</script>

{% endblock %}